{% extends "base.html" %}
{% load static %}

{% block head_content %}
<title>@{{ request.user.username }} | Update profiles</title>
{% endblock %}

{% block container %}

<div class="container">

    <div class="row justify-content-md-center">
        <div class="col-6 p-4" id="profile-box">
            {% comment %} multipart/form let us send files in POST request
                and are stored inside request.FILES
             {% endcomment %}
            <form action={% url 'update_profile' %} method="POST" enctype="multipart/form-data">
            {% csrf_token %}
                

            {% comment %} {% if form.errors %}
                <p class="alert alert-danger">{{ forms.errors }}</p>
            {% endif %} {% endcomment %}
                <div class='media'>
                {% if profile.picture %}
                    <img src="{{ profile.picture.url }}" class="rounded-circle" height="50"/>
                {% else %}
                    <img src="{% static 'img/default-profile.png' %}" class="rounded-circle" height="50"/>
                {% endif %}
                    <div class="media-body">
                        <h5 class="ml-4">@{{ user.username }} | {{user.get_full_name}}</h5>
                        <p class="ml-4"><input type="file" name="picture" ></p>
                    </div>
                </div>

                <hr><br>

                <div class="form-group">
                    <label>Website</label>
                    <input 
                        class="form-control {% if form.website.errors %} is-invalid {% endif %}"
                        type="text" 
                        name="website" 
                        placeholder="Website"
                        value="{% if form.website.errors %} {{ form.website.value }} {% else %} {{ profile.website }} {% endif %}"
                        />
                        <div class="invalid-feedback">
                        {% for error in form.website.errors %}
                            {{ error }}
                        {% endfor %}
                        </div>
                </div>
            
                <div class="form-group">
                    <label>Biography</label>
                    <textarea 
                        class="form-control {% if form.biography.errors %} is-invalid {% endif %}" 
                        name="biography"
                    >{% if form.biography.errors %} {{ form.biography.value }} {% else %} {{ profile.biography}} {% endif %}
                    </textarea>
                    <div class="invalid-feedback">
                    {% for error in form.biography.errors %}
                        {{ error }}
                    {% endfor %}
                    </div>
                </div>

                <div class="form-group">
                    <label>Phone number</label>
                    <input
                        class="form-control"
                        type="text"
                        name="phone_number"
                        placeholder="Phone number"
                        value="{{ profile.phone_number }}"
                    />
                </div>

                <button type="submit" class="btn btn-primary btn-block mt-5">Update info</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
